h3,
p {
    margin: 0;
}

.results-row {
    padding: 10px 0 10px 50px;
    position: relative;
    right: 50px;
    width: 750px;

    &:hover {
        background-color: rgb(230, 235, 239);
        cursor: pointer;
    }
}
