header {
    background: linear-gradient(to right, #fa6b23, #e33727);
    height: 100px;
    max-width: 100%;
}

.inside-container {
    height: 40px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    width: 855px;

    .card-list {
        margin-top: 50px;
    }
}

.no-movie,
.loading {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 60px;

    .middle {
        font-size: 60px;
        padding: 20px 0;
        text-align: center;
        text-shadow: 1px 1px 4px gray;
    }
}
