$primary-color: rgb(255, 255, 255);

.movie-svg {
    filter: invert(100%);
    height: 30px;
    left: 11px;
    margin-top: 11px;
    position: absolute;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50px;
    margin: 0;
    outline: none;
    padding: 0 50px 0;
    width: 700px;
    color: $primary-color;

    &::placeholder {
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &:focus {
        background-color: $primary-color;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: bold;
    }

    &:focus::placeholder {
        color: rgb(111, 131, 148);
        opacity: 1;
    }
}

button {
    background-color: $primary-color;
    border: none;
    border-radius: 2px;
    height: 50px;
    margin-left: 5px;
    outline: none;
    padding: 0;
    position: absolute;
    width: 50px;
    cursor: pointer;

    svg {
        fill: rgb(250, 106, 35);
    }
}

.results-container {
    background-color: $primary-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 0 50px 0;
    position: absolute;
    top: 80px;
    width: 700px;
}
